<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIPOC</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <li class="navbar_logo"><img src="pics/aipoc.svg"></li>
        <li class="navbar_child">Home</li>
        <li class="navbar_child">Tasks list</li>
        <li class="navbar_child">About</li>
        <li class="navbar_child">Docs</li>
    </nav>
    <div class="online">
        <img width="150px" src="pics/logo.svg">
        <h1 class="online_status"><img width="25px" src="pics/dot.png">online</h1>
    </div>
</body>

</html>