<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIPOC</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <nav class="navbar">
        <a href="index.html" class="navlink"><li class="navbar_logo"><img width="140px" src="pics/aipoc.jpg"></li></a>
        <a href="index.html" class="navlink"><li class="navbar_child">Home</li></a>
        <a href="taskslist.html" class="navlink"><li class="navbar_child">Tasks list</li></a>
        <a href="about.html" class="navlink"><li class="navbar_child">About</li></a>
        <a href="#" class="navlink"><li class="navbar_child">Docs</li></a>
    </nav>
    <div class="online">
        <img width="150px" src="pics/logo.svg">
        <h1 class="online_status"><i style="color: green;" class="fas fa-dot-circle"></i>online</h1>
    </div>
    <div class="questions">
        <div class="box_text">
            <h1 class="online_status">Recent questions?</h1>
        </div>
    </div>
    <div class="information_right">
        <div class="box_text">
            <h1 class="online_status">CPU informations?</h1>
        </div>
    </div>
</body>

</html>