*{
    padding: 0;
    margin: 0;
}
.navbar{
    list-style: none;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 62px;
    display: flex;
    
}
.navbar_child{
    width: 189px;
    height: 43px;
}